body
	padding-top 61px

.navbar-header a.navbar-brand
	margin-top -12px
	margin-bottom -20 px
	h6
		color #ccc

footer
	padding-left 15px
	padding-right 15px
	p
		border-top 1px solid #d7e0e2

.navbar-form
	.form-group
		margin-left 10px
	button
		margin-left 10px

.toast-top-right
	top 70px

.toast-success
	background-color #2fa4e7

#matchLegend
	margin-bottom 10px

.form-group
	h3
		margin-top 5px

.jumbotron
	padding-top 20px
	padding-bottom 20px

.headroom--pinned
	display block

.headroom--unpinned
	display none

#bodyMatchMain .form-horizontal .control-label
	text-align left
	