.container
	.well
		form.form-horizontal(name="matchForm")
			fieldset
				legend#matchLegend New Match Configuration
				.row
					.col-md-6
						.form-group
							h3.col-md-8.col-md-offset-4 Light Team
						.form-group
							label.col-md-4.control-label(form="nickname") Nick player 1
							.col-md-8
								input.form-control(name="nickname", type="text", placeholder="Nick", ng-model="match.lightPlayers[0]", required)
						.form-group
							label.col-md-4.control-label(form="nickname") Nick player 2
							.col-md-8
								input.form-control(name="nickname", type="text", placeholder="Nick", ng-model="match.lightPlayers[1]", required)		
						.form-group
							label.col-md-4.control-label(form="nickname") Nick player 3
							.col-md-8
								input.form-control(name="nickname", type="text", placeholder="Nick", ng-model="match.lightPlayers[2]", required)		
						.form-group
							label.col-md-4.control-label(form="nickname") Nick player 3
							.col-md-8
								input.form-control(name="nickname", type="text", placeholder="Nick", ng-model="match.lightPlayers[3]", required)																		
						.form-group
							label.col-md-4.control-label(form="nickname") Nick player 4
							.col-md-8
								input.form-control(name="nickname", type="text", placeholder="Nick", ng-model="match.lightPlayers[4]", required)																		
					.col-md-6
						.form-group
							h3.col-md-8.col-md-offset-4 Dark Team
						.form-group
							label.col-md-4.control-label(form="nickname") Nick player 1
							.col-md-8
								input.form-control(name="nickname", type="text", placeholder="Nick", ng-model="match.darkPlayers[0]", required)
						.form-group		
							label.col-md-4.control-label(form="nickname") Nick player 2
							.col-md-8
								input.form-control(name="nickname", type="text", placeholder="Nick", ng-model="match.darkPlayers[1]", required)
						.form-group
							label.col-md-4.control-label(form="nickname") Nick player 3
							.col-md-8
								input.form-control(name="nickname", type="text", placeholder="Nick", ng-model="match.darkPlayers[2]", required)
						.form-group
							label.col-md-4.control-label(form="nickname") Nick player 4
							.col-md-8
								input.form-control(name="nickname", type="text", placeholder="Nick", ng-model="match.darkPlayers[3]", required)		
						.form-group
							label.col-md-4.control-label(form="nickname") Nick player 5
							.col-md-8
								input.form-control(name="nickname", type="text", placeholder="Nick", ng-model="match.darkPlayers[4]", required)																											
				.row
					.col-md-12			
						.form-group
							label.col-md-2.col-md-offset-4.control-label(form="matchdate") Date and Time of the Match
							.col-md-3
								.dropdown
									a.dropdown-toggle.my-toggle-select#dLabel(role="button" data-toggle="dropdown" data-target="#" href="")
										input.form-control(type="text"  ng-model="dateFormatted")
										span.input-group-addon
											span.glyphicon.glyphicon-calendar
									ul.dropdown-menu(role="menu" aria-labelled-by="dLabel")
										datetimepicker(ng-model="date" data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select' }" data-on-set-time="onTimeSet")
						.form-group
							label.col-md-2.col-md-offset-4.control-label(form="location") Location
							.col-md-3
								input.form-control(name="location", type="text", ng-model="match.location")								
						.form-group
							.col-md-2.col-md-offset-6.col-xs-2.col-xs-offset-5
								button.btn.btn-primary(ng-click="configMatch()") Save!
