doctype html
html
	head
		title Sequel League
		link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="/vendor/toastr/toastr.css")
		link(rel="stylesheet", href="/css/custom-navbar.css")
		link(rel="stylesheet", href="/css/site.css")		
		link(rel="stylesheet", href="/vendor/angular-bootstrap-datetimepicker/src/css/datetimepicker.css")
	body(ng-app='app')		
		include currentUser
		block main-content
		include scripts