.container
	.jumbotron
		h1 Sequel League
		p Welcome to the Sequel League table. This will display the exciting position of each player. Enjoy!

	.row
		.col-md-8.col-md-offset-2
			div(ng-include="'/partials/main/table-players'")