table.table.table-striped.table-hover.table-condensed
	tr
		th Name
		th Played
		th Won
		th Tie
		th Lost
		th Victory %
		th Goals For
		th Goals Against
		th Goal Average
		th Goals
		th Points
		
	tr(ng-repeat="player in players")
		td {{player.name}}
		td.text-right {{player.playedMatches}}
		td.text-right {{player.won}}
		td.text-right {{player.tie}}
		td.text-right {{player.lost}}
		td.text-right {{player.victoriesPct | number}}
		td.text-right {{player.goalsFor}}
		td.text-right {{player.goalsAgainst}}
		td.text-right {{player.goalsAverage}}
		td.text-right {{player.scoredGoals}}
		td.text-right {{player.points}}